.input-container {
    margin: 1rem 0rem;
}

input {
    border: 1px solid hsl(270, 3%, 87%);
    width: 100%;
    padding: 0.3rem;
    padding-left: 1rem;
    font-family: "Space Grotesk";
}

.label {
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.err {
    color: red;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}

input:invalid[focused="true"] ~ small {
    display: block;
}