.left {
  background-image: url('./images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-position-y: top;
}

.right {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.card-form {
  width: 45%;
}

.card-bottom {
  display: flex;
  gap: 0.2rem;
}

.submit {
  background-color: hsl(278, 68%, 11%);
  width: 100%;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
}